@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

body{font-family:'Roboto', sans-serif;color:#565757;padding-top:1.5rem;}

h1{color:red;font-weight:300}

h4{font-size:1.4rem}
h4 a{color:black}

#query{max-width:400px}

.row{margin-bottom:1rem;}
em small {font-weight:bold}

.img-holder {
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding-top: 56.25%;
  position: relative;
}
.img-holder img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}